#The admin of DB
DB_USER =
#eg. root

DB_PASSWORD =
#eg. 123456

DB_DATABASE =
#eg. ProgEdu

DB_HOST =
#eg. 140.1.1.2:23306

DB_CONNECTION_OPTION = ?relaxAutoCommit=true&useSSL=false&useUnicode=true&characterEncoding=utf-8
